*{
    margin: 0;
    padding: 0;
    font-size: large;
}

body{
    border-color: white;
    display: flex;
    flex-direction: column;
}
nav{
    background-color: teal;
    flex: 0.5;
}
ul {
    display: flex;
    list-style-type: none;
}
ul li  {
    padding: 15px;
}
ul li a {
    text-decoration: none;
    color: white;
}
header{
    background-color: pink;
    height: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('../image/buildings-1839726_1280.jpg');
}
header h1{
    font-size: 90px;
    color: white;
}
header p{
    color: black;
    font-size: 30px;
}
header button{
    background-color: teal;
    padding: 15px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    color: red;
}
section{
    display: flex;
    flex: 5;
}
aside{
    background-color: aquamarine;
    flex: 1;
}
main{
    background-color: goldenrod;
   flex: 5;
}
footer{
    background-color:gold;
    height: 100px;
}